<?php

$form = $this->form;
$form->setAttribute('action', $this->url('ingresar'));
$form->prepare();

?>

<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">
                <span class="text-muted"><?= $this->translate('Votación'); ?></span>
            </h2>

            <?= $this->form()->openTag($form); ?>

            <div class="mb-3">
                <?= $this->formLabel($form->get('cedula')); ?>
                <div class="input-group">
                    <?= $this->formText($form->get('cedula')); ?>
                </div>

                <div class="text-danger">
                    <?= $this->formElementErrors($form->get('cedula')); ?>
                </div>
            </div>

            <div class="mb-3">
                <?= $this->formLabel($form->get('postulantes')); ?>
                <div class="input-group">
                    <?= $this->formSelect($form->get('postulantes')); ?>
                </div>

            <div class="mb-3">
                <?= $this->formSubmit($form->get('registrarVoto')); ?>
            </div>

            <?= $this->form()->closeTag(); ?>
        </div>
    </div>
</div>